body {
  background-color: var(--backgound);
  color: var(--color);
}

section.rootElement {
  padding: 1rem;
}
a {
  color: var(--link);
}

button {
  background: var(--primary);
  color: var(--primaryColor);
  border: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button.gost {
  background: var(--backgound);
  color: var(--color);
  border: 1px solid var(--primary);
  border-radius: var(--radius);
}

button.gost:hover {
  background: var(--primary);
  color: var(--primaryColor);
  border: none;
}

input[type="password"],
input[type="text"] {
  background: var(--backgound);
  border: 1px solid var(--borderColor);
  padding: 0.5rem;
  border-radius: var(--radius);
  display: block;
}