:root {
  --backgound: #444;
  --borderColor: #979494;
  --color: #eee;
  --link: coral;
  --primary: gold;
  --primaryColor: #444;
  --radius: 0.5rem;
}

html[data-theme='light'] {
  --backgound: #eee;
  --color: #444;
  --link: #543fd7;
  --primary: #543fd7;
  --primaryColor: #444;
  --radius: 0.5rem;
}

html[data-theme='dark'] {
  --backgound: #444;
  --borderColor: #979494;
  --color: #eee;
  --link: coral;
  --primary: gold;
  --primaryColor: #444;
  --radius: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
